# Node.js dependencies
node_modules/

# Build output
*.log
*.tsbuildinfo

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output directories
coverage/
*.tgz

# Package lock
package-lock.json
